@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light;
}

body {
    @apply bg-slate-50 text-slate-900;
}
.full-bleed {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}